<section class="colored">
  <div class="container">
    <div class="about-section">
      <div>
        <img src="/about-us.png" alt="About us" />
      </div>

      <div class="content">
        <h3>About <span class="underline">us</span></h3>
        <p><strong>Sip into Perfection</strong></p>
        <p>our cortee world, where passion meets precision in every brew, bringing you a symphony of flavors and a journey through the rich, aromatic realms of coffee craftsmanship.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .about-section {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  img {
    width: 80%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  strong {
    font-family: PoppinsBold;
  }
</style>
