---
import Box from "../Box.astro"
---

<section>
  <div class="container">
    <h2>Special menu for you</h2>

    <div class="product-boxes">
      <Box title="Macchiato" price="$8.60" image="/menu_item_6.png" />
      <Box title="Caramel Frappé" price="$9.20" image="/menu_item_2.png" />
      <Box title="Macchiato" price="$8.60" image="/menu_item_5.png" />
      <Box title="Caramel Frappé" price="$9.20" image="/menu_item_2.png" />
      <Box title="Macchiato" price="$8.60" image="/menu_item_4.png" />
      <Box title="Caramel Frappé" price="$9.20" image="/menu_item_2.png" />
      <Box title="Macchiato" price="$8.60" image="/menu_item_3.png" />
      <Box title="Caramel Frappé" price="$9.20" image="/menu_item_2.png" />
    </div>
  </div>
</section>
