<section class="colored">
  <div class="container">
    <div class="star-section">
      <div>
        <img src="/star-icon.png" alt="Star Icon" />
      </div>
      <div class="star-content">
        <h3>Sign up to our coffee reward program!</h3>
        <p>
          <a href="">Learn More →</a>
        </p>
      </div>
    </div>
  </div>
</section>
