---
import Layout from "../layouts/Layout.astro";
import StarSection from "../components/sections/StarSection.astro"
import ProductsSection from "../components/sections/ProductsSection.astro"
import AboutUsSection from "../components/sections/AboutUsSection.astro"
---

<Layout>
  <section>
    <div class="container">Titel</div>
  </section>

  <StarSection />

  <ProductsSection />

	<AboutUsSection />
</Layout>
